@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.AppContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient( 135deg, #b1c1ff 10%, #517aec 100%);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 30px 0px 0px 0px;
}

.componentContainer {

  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.componentContainer > div {
  margin: 20px 0px 50px 0px;
}

.navigationArrowsContainer {
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 80px;
  margin: 40px 0px 0px 0px;
}

.navigationArrowsContainer > .previousButton {
  position: absolute;
  width: 200px;
  left: 25px;
}

.navigationArrowsContainer > .nextButton {
  position: absolute;
  width: 200px;
  right: 25px;
}

.navigationArrowsContainer > .nextButton:hover, .navigationArrowsContainer > .previousButton:hover {
  cursor: pointer;
  color:white;
  animation: buttonfade 0.25s;
}

@keyframes buttonfade {
  0% {color: black}
  100% {color:white}
}

.activeWindowFromLeft {
  position: relative;
  left: 0px;
  animation: slideToCenterFromLeft 0.3s;
}

.activeWindowFromRight {
  position: relative;
  left: 0px;
  animation: slideToCenterFromRight 0.3s;
}

.leftHiddenWindow {
  position: relative;
  left: -500px;
  display: none;
  animation: slideToLeft 0.3s;
}

.rightHiddenWindow {
  position: relative;
  right: -500px;
  display: none;
  animation: slideToRight 0.3s;
}

@keyframes slideToRight {
  0% {
    left: 0px;
  }
  100% {
    left: 100vw;
  }
}

@keyframes slideToLeft {
  0% {
    left: 0px;
  }
  100% {
    left: -100vw;
  }
}

@keyframes slideToCenterFromLeft {
  0% {
    left: -100vw;
  }
  100% {
    left: 0px;
  }
}

@keyframes slideToCenterFromRight {
  0% {
    left: 100vw;
  }
  100% {
    left: 0px;
  }
}

.createUserContainer, .createExerciseContainer, .getExerciseLogContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border: solid 3px black;
  color: whitesmoke;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgb(56, 56, 56);
  padding: 20px;
  background-image: linear-gradient( 109.6deg,  rgba(162,2,63,1) 11.2%, rgba(231,62,68,1) 53.6%, rgba(255,129,79,1) 91.1% );
  transition: left 0.3s ease-out
}

.test {
  position:relative;
  left:-100vw;
}

.userInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 100px;
  margin: 10px 0px 20px 0px;
}

/* First screen */

.createUserFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 150px;
  margin: 10px 0px 20px 0px;
}

.createUserFormContainer > input {
  height: 38px;
}

.userIdResponseContainer {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  box-shadow: 5px 5px 15px black;
  border-radius: 5px;
  margin: 30px 0px 20px 0px;
}

.userIdResponseContainer > div:nth-child(1) {
  color: black;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
}

.userIdResponseContainer > div:nth-child(2) {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
}

.copyToClipboardContainer {
   color: rgb(255, 255, 255);
   background-color: rgb(0, 0, 0);
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   padding: 10px;
}

.copyToClipboardContainer:hover {
  cursor: pointer;
}

/* Second screen */

.customExerciseButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.customExerciseButton > input {
  margin: 10px 0px 0px 0px;
  width: 75px;
}

.workoutIconsButtonGroup {
  height: 100px;
  margin: 20px;
}

.workoutIconsButtonGroup > Button {
  height: 100px;
  padding: 15px;
}

.workoutIconsButtonGroup > Button > p{
  margin: 10px 0px 0px 0px;
}

/* Third Screen */

.exerciseLogTable {
  margin: 50px 0px 0px 0px;
}

.exerciseLogTable > tr > th, .exerciseLogTable > tr > td, .exerciseLogTable > tr {
  border: solid 2px whitesmoke;
  padding: 10px;
}

.exerciseLogTable > tr > th {
  background-color: rgb(39, 39, 39);
  color: rgb(255, 255, 255);
}
